<link
    href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext"
    rel="stylesheet">
<link rel="stylesheet" href="https://bd.ikea.ru/ext/ru/customers/styles.css">
<script src="https://unpkg.com/vue@latest"></script>
<script type="text/x-template" id="card-template">
    <div class="kdx-customers-card-wrapper">
        <a :href="card.link" class="kdx-customers-card">
            <div class="kdx-customers-card__picture">
                <img :src="card.image" :alt="card.title">
            </div>
            <div class="kdx-customers-card__title">{{ card.title }}</div>
            <div class="kdx-customers-card__arrow">
                <img src="https://bd.ikea.ru/ext/ru/customers/images/arrow_link.svg" alt="Стрелка">
            </div>
        </a>
    </div>
</script>

<div id="app">
    <div class="kdx-customers-container">
        <div class="kdx-customers-title">
            <!-- <div class="kdx-customers-title__title">Покупателям</div> -->
            <div class="kdx-customers-title__text">Хотите сделать все сами? Это ваше право — но не обязанность.
                Мы предоставляем ряд услуг, чтобы сделать вашу жизнь проще.</div>
        </div>
        <div class="kdx-customers-card-container-title">Услуги IKEA</div>
        <div class="kdx-customers-card-container">
            <card v-for="(item, id) in serviceCards" :key="id" :card="item"></card>
        </div>
        <div class="kdx-customers-card-container-title">Информация</div>
        <div class="kdx-customers-card-container">
            <card v-for="(item, id) in infoCards" :key="id" :card="item"></card>
        </div>
        <div class="kdx-customers-card-container-title">Магазины</div>
        <div class="kdx-customers-card-container">
            <card v-for="(item, id) in shopCards" :key="id" :card="item"></card>
        </div>
    </div>
</div>

<script src="https://bd.ikea.ru/ext/ru/customers/info-cards.js"></script>
<script src="https://bd.ikea.ru/ext/ru/customers/service-cards.js"></script>
<script src="https://bd.ikea.ru/ext/ru/customers/shop-cards.js"></script>
<script src="https://bd.ikea.ru/ext/ru/customers/index.js"></script>