<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <link
        href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://unpkg.com/vue@latest"></script>
    <script type="text/x-template" id="card-template">
            <div class="kdx-customers-card-wrapper">
                <a :href="card.link" class="kdx-customers-card">
                    <div class="kdx-customers-card__picture">
                        <img :src="card.image" :alt="card.title">
                    </div>
                    <div class="kdx-customers-card__title">{{ card.title }}</div>
                    <div class="kdx-customers-card__arrow">
                        <img src="./images/arrow_link.svg" alt="Стрелка">
                    </div>
                </a>
            </div>
        </script>

    <div id="app">
        <div class="kdx-customers-container">
            <div class="kdx-customers-title">
                <div class="kdx-customers-title__title">Покупателям</div>
                <div class="kdx-customers-title__text">Хотите сделать все сами? Это ваше право — но не обязанность.
                    Мы предоставляем ряд услуг, чтобы сделать вашу жизнь проще.</div>
            </div>
            <div class="kdx-customers-card-container-title">Услуги IKEA</div>
            <div class="kdx-customers-card-container">
                <card v-for="(item, id) in serviceCards" :key="id" :card="item"></card>
            </div>
            <div class="kdx-customers-card-container-title">Информация</div>
            <div class="kdx-customers-card-container">
                <card v-for="(item, id) in infoCards" :key="id" :card="item"></card>
            </div>
            <div class="kdx-customers-card-container-title">Магазины</div>
            <div class="kdx-customers-card-container">
                <card v-for="(item, id) in shopCards" :key="id" :card="item"></card>
            </div>
        </div>
    </div>

    <script src="./info-cards.js"></script>
    <script src="./service-cards.js"></script>
    <script src="./shop-cards.js"></script>
    <script src="./index.js"></script>
</body>

</html>