* {
  padding: 0;
  margin: 0;
}
%std-text {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #111111;
}

%std-text-bold {
  @extend %std-text;
  font-weight: bold;
}

%std-text-header {
  @extend %std-text-bold;
  text-align: center;
  font-size: 24px;
}
.kdx-customers-container {
  width: 1056px;
  margin: 0 auto;
  box-sizing: border-box;
}

.kdx-customers-title {
  padding-bottom: 80px;
  &__title {
    @extend %std-text-header;
    font-size: 38px;
    padding-bottom: 20px;
  }
  &__text {
    @extend %std-text;
    text-align: center;
    width: 448px;
    margin: 0 auto;
  }
}

.kdx-customers-card-container-title {
  @extend %std-text-header;
  text-align: center;
  padding-bottom: 40px;
}

.kdx-customers-card-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 65px;
}

.kdx-customers-card-wrapper {
  width: 33.33%;
  padding: 15px;
  box-sizing: border-box;
}

.kdx-customers-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: solid 1px #dfe0df;
  height: 120px;
  cursor: pointer;
  padding: 16px;
  padding-left: 48px;
  text-decoration: none;
  width: 100%;
  
  &__picture {
      width: 60px;
  }
  &__title {
    @extend %std-text-bold;
    padding: 15px;
    width: 144px;
  }
  &__arrow {
    visibility: hidden;
    align-self: flex-end;
  }
  &:hover {
    border: solid 1px #fafafa;
    background-color: #fafafa;
    .kdx-customers-card {
      &__arrow {
        visibility: visible;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .kdx-customers-container {
    width: 100%;
    padding: 0 20px;
  }

  .kdx-customers-card-container {
  }

  .kdx-customers-title {
    &__text {
      width: 100%;
    }
  }

  .kdx-customers-card-wrapper {
    width: 50%;
  }

  .kdx-customers-card {
  }
}

@media screen and (max-width: 680px) {
  .kdx-customers-container {
    width: 100%;
    padding: 0 20px;
  }

  .kdx-customers-card-container {
  }

  .kdx-customers-title {
    &__text {
      width: 100%;
    }
  }

  .kdx-customers-card-wrapper {
    width: 100%;
  }

  .kdx-customers-card {
    padding: 16px;
  }
}
